body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(-30deg, #262a33 0%, #401949 50%, #3e2c29 100%);
}
* {
    color: #CFCFCF;
    font-family: Calibri;
    font-weight: bold;
    font-size: 17px;

    scrollbar-width: thin;
    scrollbar-color: #2e173d #484040;
    scrollbar-highlight-color: #392946;
}
h1 {
    font-size: 25px;
}
*::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}
*::-webkit-scrollbar-track {
  background: #484040;
}
*::-webkit-scrollbar-thumb {
  background-color: #2e173d;
  border-radius: 5px;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #392946;
}

h1 {
    color: #F0F0F0
}
.m-10 {
    margin: 10px;
}
.m-20 {
    margin: 20px;
}
.absolute-wrapper {
    position: relative;
    height: 40px;
    width: 100%;
}
.absolute-wrapper > * {
    position: absolute;
}

svg.options {
    overflow: visible;
    fill: #ffffff15;
    stroke: #e7b39c80;
    stroke-width: 800px;
    margin: 7px;
    height: 26px;
    width: 26px;
    cursor: pointer;
    transition: transform 0.3s ease, fill 0.2s ease, stroke 0.2s ease;
    right: 0;
}
svg.options:hover {
    transform: rotate(45deg);
    fill: #ffffff30;
    stroke: #e7b39cFF;
}

.response,
.headers,
form {
    margin: 0;
    padding: 10px;
    background: rgba(255, 255, 255, 0.07);
    box-shadow: 0 0 10px black;
}
form input,
form textarea {
    background: linear-gradient(-40deg, #2c2f36 0%, #47244f 50%, #3f3230 100%);
    font-weight: normal;
}
form input {
    width: 50%;
    padding: 3px 5px;
}
form textarea {
    resize: vertical;
    width: 100%;
    height: 320px;
}
form input:disabled {
    opacity: 0.5;
}
form input[type="submit"] {
    width: 100%;
    height: 50px;
    font-size: 20px;
    letter-spacing: 4px;
    outline: none;
    border: #5c5165 2px solid;
    border-radius: 25px;
    box-shadow: 0 -2px 8px black;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
    transition: box-shadow 0.3s ease, border 0.3s ease, margin-top 0.3s ease, margin-bottom 0.3s ease;
}
form input[type="submit"]:hover {
    border: #7c7186 2px solid;
    box-shadow: 0 -2px 3px black;
    margin-top: -2px;
    margin-bottom: 2px;
}

.table-container {
    width: 96vw;
    overflow: visible;
   -webkit-overflow-scrolling: touch;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px;
}
thead {
    pointer-events: none;
}
tr {
    background: linear-gradient(120deg, #794158 0%, rgba(70, 62, 49, 0.46) 50%, transparent 100%);
    background-size: 200% 100%;
    background-position-x: 100%;
    transition: background-position 0.3s ease;
}
td,
th {
    padding: 10px;
    border: 2px solid rgb(9, 8, 8);
}

button {
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    outline: none;
    color: #A6A6A6;
    cursor: pointer;
    background: linear-gradient(120deg, #3c3554 10%, #2b0e16 100%);
    background-size: 200% 100%;
    background-position-x: 100%;
    transition: color 0.3s, background-position-x 0.3s;
}
.active {
    color: #e7b39c;
    background: linear-gradient(120deg, #794158 0%, #463e31 100%);
}


.fullsize {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
    border-radius: 0;
}

/* switch-button */
.switch-container {
    display: flex;
    margin-left: 25px;
    justify-content: center;
    align-items: center;
}
.switch-container * {
    font-size: 30px;
    margin: 0 5px;
}
.switch-container *.hidden {
    opacity: 0.5;
}
.switch-btn {
    display: inline-block;
    width: 2em;
    height: 1.1em;
    border-radius: 0.55em;
    background: linear-gradient(to right, #645247 0, #524a43 40%, #743ed0 60%, #6d118c 100%);
    background-size: 5em 100%;
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms;
}
.switch-btn::after {
    content: "";
    height: 0.9em; /* высота кнопки */
    width: 0.9em; /* ширина кнопки */
    border-radius: 0.45em;
    background: #fff;
    top: 0.1em; /* положение кнопки по вертикали относительно основы */
    left: 0.1em; /* положение кнопки по горизонтали относительно основы */
    transition-duration: 300ms;
    position: absolute;
    z-index: 1;
}
.switch-on {
    background-position-x: -3em;
}
.switch-on::after {
    left: 1em;
}


/* Checkbuttons */
/*
.group {
	display: flex;
	align-items: center;
	margin-bottom: 2em;
}

input[type="checkbox"] {
	position: absolute;
	opacity: 0;
	z-index: -1;
}

label.checkbox {
    font-size: 20px;
	position: relative;
	margin-right: 1em;
	padding-left: 2em;
	padding-right: 1em;
	line-height: 2;
	cursor: pointer;
}

label.checkbox:before {
	box-sizing: border-box;
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 1.4em;
	height: 1.4em;
	border: 2px solid white;
	border-radius: .25em;
	z-index: -1;
}

input[type="checkbox"]:checked + label.checkbox {
    font-style: italic;
	padding-left: 1em;
	color: #8e44ad;
}

input[type="checkbox"]:checked + label.checkbox:before {
	top: 0;
	width: 100%;
	height: 1.5em;
	background: white;
}

label.checkbox,
label.checkbox::before {
	-webkit-transition: .25s all ease;
	-o-transition: .25s all ease;
	transition: .25s all ease;
}
*/

@media(hover: hover) and (pointer: fine) {
    button {
        letter-spacing: 2px;
    }
    button.attention {
        letter-spacing: 3px;
    }
    button:hover {
        color: #F6F6F6;
        background-position-x: 0;
    }
    button.attention:hover {
        color: #F6F6F6;
        background-position-x: 0;
        box-shadow: 3px 2px 10px black;
    }
    tr:hover {
        color: #F6F6F6;
        background-position-x: 0;
    }
}
