<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proxy web interface</title>
    <link href="/styles/styles.css" rel="stylesheet">
</head>
<body>
    {{ table|safe }}
    <form action="" method="get">
        <p>Введите имя параметра</p>
        <label for="host">
            Тестировать параметр: <input type="text" name="param">
        </label>
        <p><input type="submit" value="Проверить"></p>
    </form>
    <button onclick="document.location='/'">На главную</button>
    <button onclick="history.go(-1)">К запросу</button>
</body>
</html>