{% extends "template.html" %}
{% block content %}

<body class="m-20">
    {{ table|safe }}
    <form action="" method="get">
        <h1>Проверить запрос на уязвимость</h1>
        <p>
            <div>Перебирать:</div>
            <div>
                <input id="name" name="change" type="radio" value="name">
                <label for="name" class="checkbox" onclick="paramName.setAttribute('disabled', ''); paramValue.removeAttribute('disabled')">Имена параметра</label>
            </div>
            <div>
                <input id="value" name="change" type="radio" value="value">
                <label for="value" class="checkbox" onclick="paramValue.setAttribute('disabled', ''); paramName.removeAttribute('disabled')">Значения параметра</label>
            </div>
        </p>

        <p>
            <label for="paramName">Имя параметра: &emsp;&emsp;</label>
            ?<input id="paramName" type="text" name="param" size="30" disabled>=[перебирается]
            <br>
            <label for="paramValue">Значение параметра:</label>
            ?[перебирается]=<input id="paramValue" type="text" name="param" size="30" disabled>
        </p>
        <br>
        <input type="submit" value="Проверить">
    </form>
    <br>
    <button onclick="document.location='/'">На главную</button>
    <button onclick="history.go(-1)">К запросу</button>
</body>

{% endblock %}