{% extends "template.html" %}
{% block content %}

<body class="m-10">
    <p><button onclick="document.location='/'">На главную</button></p>
    <button onclick="document.location='/clear_db'">Очистить данные запросов</button>
    <br>
    <button onclick="document.location='/reset_db'">Пересоздать базу данных</button>
    <hr>
    <br>
    <div class="m-20">
        <div id="version">
            Proxy-server  v1.0
            <br>
            Web-interface v1.1
        </div>
        <br>
        <div id="info">
            Создано под чутким контролем <a href="https://github.com/SergTyapkin" target="_blank">Сергея Тяпкина</a>
            <br>
            Для курса безопасности веб-приложений <a href="https://park.mail.ru/" target="_blank">Технопарка Mail.ru</a>
            <br>
            Исходный код проекта можно найти на <a href="https://github.com/SergTyapkin/proxy-server" target="_blank">GitHub</a>
            <br>
            По всяким вопросам, или, если просто нечем заняться, писать <a href="https://vk.com/0pointer" target="_blank">сюда</a>
        </div>
    </div>
</body>

{% endblock %}