<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proxy web interface</title>
</head>
<body>
    <form action="" method="post">
        <p>Отправить запрос</p>
        <label for="host">
            Host: <input type="text" name="host" placeholder="Не обязательно">
        </label>
        <br>
        <label for="request">
            Request: <textarea name="request"></textarea>
        </label>
        <p><input type="submit" value="Отправить"></p>
    </form>
    <button onclick="document.location='/'">На главную</button>
</body>
</html>