<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Proxy web interface</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link href="/static/styles.css" rel="stylesheet">
</head>

<body class="m-20">
    <button onclick="document.location='/'">На главную</button>
    <button onclick="history.go(-1)">К запросу</button><br>
    <p id="container" class="switch-container">
        <span class="">RAW</span>
        <span id="switch" class="switch-btn"></span>
        <span class="hidden">RENDER</span>
    </p>

    <div id="headers" class="headers">
        {% for header in headers %}
            {{ header }}<br>
        {% endfor %}
    </div>
    <br>
    <div id="response" class="response">
        {% for string in response %}
            {{ string }}<br>
        {% endfor %}
    </div>
</body>

<script>
    const container = document.getElementById('container');
    const switchButton = document.getElementById('switch');
    const response = document.getElementById('response');
    const headers = document.getElementById('headers');
    const responseText = response.innerText;
    switchButton.addEventListener('click', () => {
        if (switchButton.classList.contains("switch-on")) {
            switchButton.classList.remove("switch-on");
            container.firstElementChild.classList.remove("hidden");
            container.lastElementChild.classList.add("hidden");
            response.innerText = responseText;
        } else {
            switchButton.classList.add("switch-on");
            container.firstElementChild.classList.add("hidden");
            container.lastElementChild.classList.remove("hidden");
            response.innerHTML = responseText;
        }
    });
</script>

</html>