<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proxy web interface</title>
    <link href="/styles/styles.css" rel="stylesheet">
</head>
<body>
    <form action="" method="post">
        <h1>Отправить запрос</h1>
        <label for="host">
            Host: <input type="text" name="host" placeholder="Не обязательно" value="{{ host }}">
        </label>
        <br>
        <label for="request">
            Request: <textarea name="request" cols="80" rows="30">{{ request }}</textarea>
        </label>
        <p><input type="submit" value="Отправить"></p>
    </form>
    <button onclick="document.location='/'">На главную</button>
</body>
</html>